<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pccw.repository.ConSepSubmitRecordMapper">
    <resultMap id="BaseResultMap" type="org.pccw.model.ConSepSubmitRecord" autoMapping="true"/>
</mapper>